**/*.pyc
**/*.pyo
**/.DS_Store
**/__pycache__/
**/.ipynb_checkpoints/
P2KG-Pipeline/JAMS/
P2KG-Pipeline/inputs/mtc_ann/duplicate_data
test/*
rules.log
P2KG-Pipeline/sparql_anything/*.jar
P2KG-Pipeline/sparql_anything/tmp.jams
blazegraph.jnl
patterns-knowledge-graph-datasets/RDF/mtc_ann/*
patterns-knowledge-graph-datasets/RDF/thesession_annotated_subset/*